examples/ export-ignore
test/ export-ignore
var/ export-ignore
.* export-ignore
Makefile export-ignore
phpunit.xml export-ignore
codecov.yml export-ignore
phpstan.neon export-ignore
phpstan-baseline.neon export-ignore
