includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
        - tests
    excludes_analyse:
        - tests/End2End/App
    dynamicConstantNames:
        - Symfony\Component\HttpKernel\Kernel::VERSION
        - Doctrine\DBAL\Version::VERSION
