parameters:
    level: 7
    paths:
        - src/
        - test/
    ignoreErrors:
         - '/Symfony\\Component\\HttpKernel\\Event\\(GetResponse|FilterController)Event not found.$/'
includes:
    - phpstan-baseline.neon
