parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\TreeBuilder\\:\\:root\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\DependencyInjection\\\\SentryExtension\\:\\:load\\(\\) has parameter \\$configs with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/SentryExtension.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\DependencyInjection\\\\SentryExtension\\:\\:passConfigurationToOptions\\(\\) has parameter \\$processedConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/SentryExtension.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\DependencyInjection\\\\SentryExtension\\:\\:configureErrorListener\\(\\) has parameter \\$processedConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/SentryExtension.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\DependencyInjection\\\\SentryExtension\\:\\:configureMessengerListener\\(\\) has parameter \\$processedConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/SentryExtension.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\DependencyInjection\\\\SentryExtension\\:\\:configureMonologHandler\\(\\) has parameter \\$monologConfiguration with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/SentryExtension.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: src/EventListener/ErrorListener.php

		-
			message: "#^Class GetResponseForExceptionEvent not found\\.$#"
			count: 1
			path: src/aliases.php

		-
			message: "#^Class GetResponseEvent not found\\.$#"
			count: 2
			path: src/aliases.php

		-
			message: "#^Class FilterControllerEvent not found\\.$#"
			count: 1
			path: src/aliases.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\ConfigurationTest\\:\\:testOptionValuesProcessing\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: test/DependencyInjection/ConfigurationTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\ConfigurationTest\\:\\:optionValuesProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: test/DependencyInjection/ConfigurationTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\ConfigurationTest\\:\\:testInvalidValues\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: test/DependencyInjection/ConfigurationTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\ConfigurationTest\\:\\:invalidValuesProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: test/DependencyInjection/ConfigurationTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\ConfigurationTest\\:\\:processConfiguration\\(\\) has parameter \\$values with no value type specified in iterable type array\\.$#"
			count: 1
			path: test/DependencyInjection/ConfigurationTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\ConfigurationTest\\:\\:processConfiguration\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: test/DependencyInjection/ConfigurationTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\SentryExtensionTest\\:\\:optionsValueProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\SentryExtensionTest\\:\\:test_that_it_ignores_empty_dsn_value\\(\\) has parameter \\$emptyDsn with no typehint specified\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\SentryExtensionTest\\:\\:emptyDsnValueProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\SentryExtensionTest\\:\\:testBeforeSendUsingScalarCallable\\(\\) has parameter \\$scalarCallable with no typehint specified\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\SentryExtensionTest\\:\\:testBeforeBreadcrumbUsingScalarCallable\\(\\) has parameter \\$scalarCallable with no typehint specified\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\SentryExtensionTest\\:\\:scalarCallableDataProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\SentryExtensionTest\\:\\:errorListenerConfigurationProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\SentryExtensionTest\\:\\:testMonologHandlerIsConfiguredProperly\\(\\) has parameter \\$level with no typehint specified\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\SentryExtensionTest\\:\\:monologHandlerConfigurationProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\SentryExtensionTest\\:\\:getContainer\\(\\) has parameter \\$configuration with no value type specified in iterable type array\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Function Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\mockBeforeSend\\(\\) never returns Sentry\\\\Event so it can be removed from the return typehint\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Function Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\mockBeforeBreadcrumb\\(\\) never returns Sentry\\\\Breadcrumb so it can be removed from the return typehint\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Function Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\mockClassSerializer\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Function Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\mockClassSerializer\\(\\) has parameter \\$object with no typehint specified\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\DependencyInjection\\\\CallbackMock\\:\\:callback\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: test/DependencyInjection/SentryExtensionTest.php

		-
			message: "#^Class Symfony\\\\Bundle\\\\FrameworkBundle\\\\Client not found\\.$#"
			count: 1
			path: test/End2End/End2EndTest.php

		-
			message: "#^Comparison operation \"\\<\" between \\d+ and 40300 is always false\\.$#"
			count: 1
			path: test/End2End/End2EndTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\ErrorTypesParserTest\\:\\:testParse\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: test/ErrorTypesParserTest.php

		-
			message: "#^Method Sentry\\\\SentryBundle\\\\Test\\\\ErrorTypesParserTest\\:\\:parsableValueProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: test/ErrorTypesParserTest.php

		-
			message: "#^Parameter \\$event of method Sentry\\\\SentryBundle\\\\Test\\\\EventListener\\\\ErrorListenerTest\\:\\:testHandleExceptionEvent\\(\\) has invalid typehint type Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\GetResponseForExceptionEvent\\.$#"
			count: 1
			path: test/EventListener/ErrorListenerTest.php

		-
			message: "#^Call to method getException\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\GetResponseForExceptionEvent\\.$#"
			count: 1
			path: test/EventListener/ErrorListenerTest.php

		-
			message: "#^Parameter \\#1 \\$event of method Sentry\\\\SentryBundle\\\\EventListener\\\\ErrorListener\\:\\:handleExceptionEvent\\(\\) expects Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\ExceptionEvent, Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\ExceptionEvent\\|Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\GetResponseForExceptionEvent given\\.$#"
			count: 1
			path: test/EventListener/ErrorListenerTest.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\GetResponseForExceptionEvent not found\\.$#"
			count: 1
			path: test/EventListener/ErrorListenerTest.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: test/EventListener/MessengerListenerTest.php

		-
			message: "#^Class Symfony\\\\Component\\\\Messenger\\\\Event\\\\WorkerMessageFailedEvent constructor invoked with 4 parameters, 3 required\\.$#"
			count: 1
			path: test/EventListener/MessengerListenerTest.php

		-
			message: "#^Parameter \\$requestEvent of method Sentry\\\\SentryBundle\\\\Test\\\\EventListener\\\\RequestListenerTest\\:\\:testHandleKernelRequestEvent\\(\\) has invalid typehint type Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\GetResponseEvent\\.$#"
			count: 1
			path: test/EventListener/RequestListenerTest.php

		-
			message: "#^Parameter \\#1 \\$event of method Sentry\\\\SentryBundle\\\\EventListener\\\\RequestListener\\:\\:handleKernelRequestEvent\\(\\) expects Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\RequestEvent, Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\GetResponseEvent\\|Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\RequestEvent given\\.$#"
			count: 1
			path: test/EventListener/RequestListenerTest.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\GetResponseEvent not found\\.$#"
			count: 6
			path: test/EventListener/RequestListenerTest.php

		-
			message: "#^Parameter \\$controllerEvent of method Sentry\\\\SentryBundle\\\\Test\\\\EventListener\\\\RequestListenerTest\\:\\:testHandleKernelControllerEvent\\(\\) has invalid typehint type Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\FilterControllerEvent\\.$#"
			count: 1
			path: test/EventListener/RequestListenerTest.php

		-
			message: "#^Parameter \\#1 \\$event of method Sentry\\\\SentryBundle\\\\EventListener\\\\RequestListener\\:\\:handleKernelControllerEvent\\(\\) expects Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\ControllerEvent, Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\ControllerEvent\\|Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\FilterControllerEvent given\\.$#"
			count: 1
			path: test/EventListener/RequestListenerTest.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\FilterControllerEvent not found\\.$#"
			count: 3
			path: test/EventListener/RequestListenerTest.php

		-
			message: "#^Parameter \\$event of method Sentry\\\\SentryBundle\\\\Test\\\\EventListener\\\\SubRequestListenerTest\\:\\:testHandleKernelRequestEvent\\(\\) has invalid typehint type Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\GetResponseEvent\\.$#"
			count: 1
			path: test/EventListener/SubRequestListenerTest.php

		-
			message: "#^Call to method isMasterRequest\\(\\) on an unknown class Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\GetResponseEvent\\.$#"
			count: 1
			path: test/EventListener/SubRequestListenerTest.php

		-
			message: "#^Parameter \\#1 \\$event of method Sentry\\\\SentryBundle\\\\EventListener\\\\SubRequestListener\\:\\:handleKernelRequestEvent\\(\\) expects Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\RequestEvent, Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\GetResponseEvent\\|Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\RequestEvent given\\.$#"
			count: 1
			path: test/EventListener/SubRequestListenerTest.php

		-
			message: "#^Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\GetResponseEvent not found\\.$#"
			count: 2
			path: test/EventListener/SubRequestListenerTest.php

