<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/schema/8.5.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         cacheResult="false"
         beStrictAboutOutputDuringTests="true"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0" />
    </php>

    <testsuites>
        <testsuite name="SentryBundle test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
                <file>src/aliases.php</file>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
