services:
  sentry.client:
    class: '%sentry.client%'
    arguments: ['%sentry.dsn%', '%sentry.options%']
    public: true
    calls:
      - [install, []]
      
  '%sentry.client%': '@sentry.client'
  
  sentry.exception_listener:
    class: '%sentry.exception_listener%'
    arguments:
      - '@sentry.client'
      - '@event_dispatcher'
      - '@request_stack'
      - '%sentry.skip_capture%'
      - '@?security.token_storage'
      - '@?security.authorization_checker'
    tags:
      - { name: kernel.event_listener, event: kernel.request,    method: onKernelRequest, priority: '%sentry.listener_priorities.request%'}
      - { name: kernel.event_listener, event: kernel.exception,  method: onKernelException, priority: '%sentry.listener_priorities.kernel_exception%' }
      - { name: kernel.event_listener, event: console.command,   method: onConsoleCommand }
      - { name: kernel.event_listener, event: console.error,     method: onConsoleError, priority: '%sentry.listener_priorities.console_exception%' }
