name: Continuous Integration

on:
  pull_request: null
  push:
    branches:
      - master
      - develop
      - release/**

permissions:
  contents: read

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    env:
      SYMFONY_REQUIRE: ${{ matrix.symfony-version }}
    strategy:
      fail-fast: false
      matrix:
        php:
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'
          - '8.3'
        symfony-version:
          - 4.4.*
          - 5.*
          - 6.*
          - 7.*
        dependencies:
          - highest
        exclude:
          - php: '7.2'
            symfony-version: 6.*
          - php: '7.3'
            symfony-version: 6.*
          - php: '7.4'
            symfony-version: 6.*
          - php: '7.2'
            symfony-version: 7.*
          - php: '7.3'
            symfony-version: 7.*
          - php: '7.4'
            symfony-version: 7.*
          - php: '8.0'
            symfony-version: 7.*
          - php: '8.1'
            symfony-version: 7.*
        include:
          - php: '7.2'
            symfony-version: 4.4.*
            dependencies: lowest
          - php: '7.2'
            symfony-version: 5.*
            dependencies: lowest
          - php: '8.0'
            symfony-version: 6.*
            dependencies: lowest
          - php: '8.2'
            symfony-version: 7.*
            dependencies: lowest

    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 2

      - name: Setup PHP
        uses: shivammathur/setup-php@fc14643b0a99ee9db10a3c025a33d76544fa3761 # v2.30.5
        with:
          php-version: ${{ matrix.php }}
          coverage: pcov
          tools: flex

      - name: Setup Problem Matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Update PHPUnit
        run: composer require --dev phpunit/phpunit ^9.3.9 --no-update
        if: matrix.php == '8.0' && matrix.dependencies == 'lowest'

      - name: Install dependencies
        uses: ramsey/composer-install@57532f8be5bda426838819c5ee9afb8af389d51a # v3.0.0
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: --prefer-dist

      - name: Run tests
        run: vendor/bin/phpunit --coverage-clover=build/coverage-report.xml

      - name: Upload code coverage
        uses: codecov/codecov-action@125fc84a9a348dbcf27191600683ec096ec9021c # v4.4.1
        with:
          file: build/coverage-report.xml
          token: ${{ secrets.CODECOV_TOKEN }}

  missing-optional-packages-tests:
    name: Tests without optional packages
    runs-on: ubuntu-latest
    env:
      SYMFONY_REQUIRE: ${{ matrix.symfony-version }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - php: '7.2'
            dependencies: lowest
            symfony-version: 4.4.*
          - php: '7.4'
            dependencies: highest
          - php: '8.0'
            dependencies: lowest
            symfony-version: 4.4.*
          - php: '8.3'
            dependencies: highest

    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Setup PHP
        uses: shivammathur/setup-php@fc14643b0a99ee9db10a3c025a33d76544fa3761 # v2.30.5
        with:
          php-version: ${{ matrix.php }}
          coverage: pcov
          tools: flex

      - name: Setup Problem Matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Remove optional packages
        run: composer remove doctrine/dbal doctrine/doctrine-bundle symfony/messenger symfony/twig-bundle symfony/cache symfony/http-client --dev --no-update

      - name: Install dependencies
        uses: ramsey/composer-install@57532f8be5bda426838819c5ee9afb8af389d51a # v3.0.0
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: --prefer-dist

      - name: Run tests
        run: vendor/bin/phpunit --coverage-clover=build/coverage-report.xml

      - name: Upload code coverage
        uses: codecov/codecov-action@125fc84a9a348dbcf27191600683ec096ec9021c # v4.4.1
        with:
          file: build/coverage-report.xml
          token: ${{ secrets.CODECOV_TOKEN }}
