name: CI

on:
  pull_request: null
  push:
    branches:
      - master
      - 3.5.x

jobs:
  Tests:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental == true }}
    strategy:
      fail-fast: false
      matrix:
        php:
          - '8.0'
          - '7.4'
          - '7.3'
          - '7.2'
        composer_option:
          - ''
          - '--prefer-lowest'
        sentry_constraint: [false]
        symfony_constraint: [false]
        experimental: [false]
        include:
          - description: 'Symfony 4.4'
            php: '7.3'
            symfony_constraint: 4.4.*
          - description: 'Symfony 3.4'
            php: '7.2'
            symfony_constraint: 3.4.*
            env:
              SYMFONY_DEPRECATIONS_HELPER: disabled

    name: PHP ${{ matrix.php }} ${{ matrix.description }} ${{ matrix.composer_option }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: ${{ matrix.php }}-${{ matrix.symfony_constraint }}-${{ matrix.composer_option }}
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: pcov
      - run: |
          sed -ri '/symfony\/(monolog-bundle|phpunit-bridge|messenger)/! s/"symfony\/(.+)": "(.+)"/"symfony\/\1": "'${{ matrix.symfony_constraint }}'"/' composer.json;
        if: matrix.symfony_constraint
      - run: composer remove --dev symfony/messenger --no-update
        if: matrix.symfony_constraint == '3.4.*' || matrix.composer_option == '--prefer-lowest'
      - run: composer remove --dev friendsofphp/php-cs-fixer --no-update
        if: matrix.php == '8.0'
      - run: composer update --no-progress --ansi ${{ matrix.composer_option }}
      - run: composer require sentry/sentry dev-develop
        if: matrix.sentry_constraint == 'dev-develop'
      - run: vendor/bin/phpunit --coverage-clover=coverage.xml
      - uses: codecov/codecov-action@v1
        with:
          file: './coverage.xml'
          fail_ci_if_error: true
  PHP-CS-Fixer:
    runs-on: ubuntu-latest
    name: Code style
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: '7.4'
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
      - run: composer install --no-progress --ansi
      - run: composer phpcs
  PHPStan:
    runs-on: ubuntu-latest
    name: PHPStan
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: '7.4--'
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
      - run: composer install --no-progress --ansi
      - run: composer phpstan
