name: Continuous Integration

on:
  pull_request: null
  push:
    branches:
      - master
      - develop
      - 3.5.x

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    env:
      SYMFONY_REQUIRE: ${{ matrix.symfony-version }}
    strategy:
      fail-fast: false
      matrix:
        php:
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'
        symfony-version:
          - 3.4.*
          - 4.4.*
          - 5.*
        dependencies:
          - highest
        exclude:
          - php: '8.0'
            symfony-version: 3.4.*
        include:
          - php: '7.2'
            symfony-version: 3.4.*
            dependencies: lowest
          - php: '7.2'
            symfony-version: 4.4.*
            dependencies: lowest
          - php: '7.2'
            symfony-version: 5.*
            dependencies: lowest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug

      - name: Setup Problem Matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Remove Symfony Messenger
        run: composer remove --dev symfony/messenger --no-update
        if: matrix.symfony-version == '3.4.*'

      - name: Install Symfony Flex
        run: composer global require --no-progress --no-scripts --no-plugins symfony/flex

      - name: Install dependencies
        uses: ramsey/composer-install@v1
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: --prefer-dist

      - name: Run tests
        run: vendor/bin/phpunit --coverage-clover=build/coverage-report.xml

      - name: Upload code coverage
        uses: codecov/codecov-action@v1
        with:
          file: build/coverage-report.xml

  missing-optional-packages-tests:
    name: Tests without optional packages
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php:
          - '7.2'
          - '8.0'
        dependencies:
          - lowest
          - highest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug

      - name: Setup Problem Matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Remove optional packages
        run: composer remove doctrine/dbal doctrine/doctrine-bundle symfony/messenger symfony/twig-bundle symfony/cache --dev --no-update

      - name: Install dependencies
        uses: ramsey/composer-install@v1
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: --prefer-dist

      - name: Run tests
        run: vendor/bin/phpunit --coverage-clover=build/coverage-report.xml

      - name: Upload code coverage
        uses: codecov/codecov-action@v1
        with:
          file: build/coverage-report.xml
